rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /item-notes/{itemName} {
      allow read, write: if true;
    }
    match /item-meta/{docId} {
      allow read, write: if true;
    }
    match /item-attributes/{itemName} {
      allow read, write: if true;
    }
  }
}
